#feature_id{
  max-width:600px; 
  max-height: 800px;
}

#image_id {
  float: left;
  width: 800px;
  height: 800px;
  object-fit: fill;
  margin-bottom: 10px;
  }

table.dataframe.dataframe th, .dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
  }
tr:nth-child(odd)		{ 
  background-color:#eee; 
}
tr:nth-child(even)	{ 
  background-color:#fff; }