<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="../static/styles.css"> -->

  <style>

   table.dataframe.dataframe th, .dataframe td {
     border: 1;
     border-bottom: 1px;
     border-collapse: collapse;
     text-align: left;
     padding: 10px;
     margin-bottom: 40px;
     font-size: 0.9em;
     column-width: auto;
     }

   tr:nth-child(odd)		{ 
      background-color:#eee; 
      }
   tr:nth-child(even)	{ 
      background-color:#fff; 
    }

   #image_id {
    width: 500px;
    height: 500px;
    object-fit: fill;
   }
  </style>

  
</head>

<!-- Create Container -->
<body>
  <div class="container-fluid">
    <!-- Add Jumbotron -->
    <div class="jumbotron text-center" style="background-color: #F0F0F0;">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!--  Latest News -->
    <div class="container-fluid">
      <h2><b>Latest Mars News</b></h2>
      <h3>{{ mars_data.news_title }}</h3>
      <p>{{ mars_data.text }}</p>
    </div>
    

    <!-- Featured Image -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3><b>Featured Mars Image</b></h3>
            <img src="{{mars_data.featured_image}}"  alt="Featured Mars Image" style="  max-width:600px; max-height: 800px;">
        </div> 
      <!-- Mars HTML Facts Table -->
        <div class="col-md-4">
          <div class="card " >
            <div class="card-body">
              <h3><b>Mars Facts</b></h3>
               <div>
                 {{mars_data.mars_table | safe}}
                </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
        
      <!-- Mars Hemispheres -->
      <div class="container-fluid text-center" style="background-color:white;">
        <div class="page-header">
          <h3 class="text-center"><b>Mars Hemispheres</b></h3>
        </div>
        <div class="row">
          {% for img in mars_data.hemisphere_img %}
          <div class="col-md-6 ">
            <div class="card" >
              <img src="{{ img.img_url}}" class="card-img-top" id="image_id" alt="{{ img.title }}">
              <div class="card-body">
                <h4 class="card-title"> {{ img.title }} </h4>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div> 
  </div>
</body>
</html>
